.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor:pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
body,html{
  height:100%;
  width:100%;
}
.cntainr{
	height:100%;
	width:100%;
	display:table;
}
.node.highlighted {
  fill: #f00;
}

div.pop-up {
	display: none;
	position:absolute;
	color: white;
	font-size: 14px;
	background: rgba(0,0,0,0.5);
	padding: 5px 10px 5px 10px;
	-moz-border-radius: 8px 8px;
	border-radius: 8px 8px;
}
div.pop-up-title {
	font-size: 15px;
	width:200px;
	margin-bottom: 4px;
	font-weight: bolder;
}
div.pop-up-content {
	font-size: 12px;
}
.minititle{
	font-weight: bolder;
}
div.pop-img {
	font-size: 12px;
}
div.pop-desc {
	width: 150px;
}
.pop-up-content a{
	color: white;
}

label{
	font-size: 12px;
}

div.checkbox{
  margin-bottom: 6px;
}

span.text-primary{
  font-size: 10px;
  cursor: pointer;
}


#mainpanel {
    margin-top: 15px;
    margin-left: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, .6);
    z-index: 20;
    position:fixed;
    right:15px;
    border: 1px solid #a6a6a6
}

.link.negative {
  stroke-dasharray: 6,5;
}


/*Typeahead*/
.twitter-typeahead {
     width: 100%;
     position: relative;
 }

.tt-dropdown-menu {
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.tt-suggestion.tt-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

#slide-panel {
    width:300px;
    height:300px;
    padding:10px;
    margin-left:-300px;
    background-color: rgba(255, 255, 255, .6);
    z-index: 20;
    position:fixed;
    border: 1px solid #a6a6a6;
    
}
#opener {
    float:right;
    margin:-10px -50px 0px 0px;
    border-radius:0;
}